config CUSTOM_PIEZO
    bool "Custom Piezo DAC Driver"
    default y
    depends on DT_HAS_CUSTOM_PIEZO_DAC_ENABLED
    select DAC
    help
      Enable the custom piezo DAC driver for generating tones.