/ {
    aliases {
        led0 = &blink_led;
        system-piezo = &piezo0; 
    };

    /* Instantiate custom RGB Drivers */
    rgb_led0: rgb-led-0 {
        compatible = "custom,rgb-led";
        gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>,  /* Red LED Pin */
                <&gpio0 18 GPIO_ACTIVE_HIGH>,  /* Green LED Pin */
                <&gpio0 12 GPIO_ACTIVE_HIGH>;  /* Blue LED Pin */
    };

    leds {
        compatible = "gpio-leds";
        blink_led: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Board LED";
        };
    };

    /* Instantiate custom servo drivers */
    servo0: servo_motor {
        compatible = "custom,servo-motor";
        pwms = <&ledc0 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
        min-pulse-us = <500>;
        max-pulse-us = <2500>;
        status = "okay";
    };

    piezo0: piezo {
        compatible = "custom,piezo-dac";
        status = "okay";
        pwms = <&ledc0 1 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
    };

    usart0: system-four-usart {
        compatible = "custom,usart";
        status = "okay";
        uart = <&uart0>;
    };
};

/* Enable ESP32 hardware controller ledc0 */
&ledc0 {        
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default"; 
    status = "okay"; 
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0>;
        timer = <0>;
    };

    channel1@1 {
        reg = <1>;
        timer = <1>;
    };
};

/* Pin control mapping (Assign GPIO pin for servo PWM output) */
&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO27>, <LEDC_CH1_GPIO25>;
        };
    };
};