/ {
    aliases {
        led0 = &blink_led;
        servo-pwm = &servo_pwm; 
    };

    /* Insantiate custom RGB Drivers */
    rgb_led0: rgb-led-0 {
        compatible = "custom,rgb-led";
        gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>,  /* Red LED Pin */
                <&gpio0 18 GPIO_ACTIVE_HIGH>,  /* Green LED Pin */
                <&gpio0 12 GPIO_ACTIVE_HIGH>;  /* Blue LED Pin */
    };

    leds {
        compatible = "gpio-leds";
        blink_led: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Board LED";
        };
    };

    servo {
        compatible = "pwm-leds";

        servo_pwm: servo_0 {
            pwms = <&ledc0 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
        };
    };
};

/* Enable ESP32 hardware controller ledc0 */
&ledc0 {        
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default"; 
    status = "okay"; 
};

/* Pin control mapping (Assign GPIO pin for servo PWM output) */
&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO13>;
        };
    };
};